AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=<aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<aws_secret_access_key>
DYNAMO_TABLE_INFO_STANDS=jojo-bot-info-stands
DYNAMO_TABLE_OWNED_STANDS=jojo-bot-owned-stands
DYNAMO_TABLE_INVENTORY=jojo-bot-inventory
DISCORD_APP_ID=<discord_app_id>
DISCORD_BOT_TOKEN=<discord_bot_token>
DISCORD_CHANNEL_ID=<discord_channel_id>
DISCORD_PUBLIC_KEY=<discord_public_key>
API_SECRET=<api_secret>
